/*-----Background Image-----*/
body, html{
    background-image: url("images/Background.jpg");
   	height: 100%;
	background-position: top;
    background-repeat: repeat-y;
    background-size: cover;
    font-family: sans-serif;
}
a:link, a:active, a:hover, a:visited {
    text-decoration: none;
}
a:link, a:visited, a:active{
    color: white;
}
a:hover{
    color: red;
    text-shadow: 1px 1px 3px #FF1493;
}
/*-----Navigation Bar-----*/
.navBar{
    position: fixed;
    width: 100%;
    height: 40px;
    left: -1px;
    top: -1px;
    background-color: black;
    z-index: 9998;
}
.navBarText{
    height: 40px;
    font-family: sans-serif;
    font-size: 24px;
    color: white;
    position: relative;
    top: -30px;
    z-index: 9999;
}
.navBarText ul{
    display: table;
    left: 20px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding: 10px;
}
.navBarText li{
    display: inline;
    text-align: center;
    padding: 40px;
}
.navBarText a:link, a:active, a:hover, a:visited {
    text-decoration: none;
}
.navBarText a:link{
    color: white;
    font-weight: 400;
}
.navBarText a:hover{
    color: red;
    font-weight: 700;
    text-shadow: 1px 1px 3px #FF1493;
}
.navBarText a: active{
    color: greenyellow;
    font-weight: 600;   
}
.navBarText a:visited{
    color: yellow;
    font-weight: 500;
}

/*-----Share Button-----*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#share-buttons img {
    width: 10px;
    padding: 3px;
    border: 0;
    box-shadow: 0;
    display: inline;
}
/*-----End Share Button-----*/

/*-----Home Page-----*/
.poster{
    width: 100%;
    z-index: 1;
}

.home{
    font-family: sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 45px;
    margin-bottom: 50px;
}
.tickets a:link, a:visited, a:active{
    color: white;
    text-decoration: none;
}
.tickets a:hover{
    color: red;
    text-decoration: none;
    text-shadow: 1px 1px 3px #FF1493;
}
/*-----Trailer-----*/
.trailer{
    position: relative;
    margin: auto;
    text-align: center;
    background-color: #003906;
    }
.trailer iframe{
    padding: 20px;
}
.trailer div{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 10px;
}
.trailer a:link, a:visited, a:active{
    color: white;
    text-decoration: none;
}
.trailer a:hover{
    color: red;
    text-decoration: none;
    text-shadow: 1px 1px 3px #FF1493;
}
/*------Actors-----*/
.actTable{
    color: white;
    background-color: #410D09;
    padding: 10px;
}
.actTable td{
    padding: 10px;
}

.actTable td a:hover{
    color: red;
}
.actTable tr:nth-child(even) {background-color: #003906;}
.actTable tr:nth-child(odd) {background-color: #048B21;}

/*-----Critics-----*/
#critics{
    color: #048B21;
    background-color: #FDF668;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px
}

/*-----Footer-----*/
#footer{
    position: relative;
    bottom: 0px;
    display: block;
    margin: auto;
    background-color: black;
}
.marvel{
    padding: 20px;
    margin: auto;
    text-align: center;
}
.marvel a:hover{color: red;}

